.pagination > span {
<<<<<<< HEAD
  background-color: theme("colors.primary.500");
=======
  background-color: theme("colors.primary");
>>>>>>> d26f7cda55573513073816b1ede2bc730122a61e
  height: 15px;
  width: 15px;
}
